body{
    padding: 0;
    margin: 0;
}
#wrapper{
    margin: 0 auto;
    width: 1100px;
    height: 350px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    width: 350px;
    height: 350px;
    border: 1px solid #000;
}
.bg-red{
    background-color: rgb(255, 213, 213);
    text-align: justify;
}
.bg-green{
    background-color: rgb(228, 255, 200);
    text-align: justify;
}
.bg-yellow{
    background-color: #ffffbd;
    text-align: justify;
}